---
---

body {
	font-family: TimesNewRoman, serif;
	font-size: 1.25rem;
	margin-left: auto;
	margin-top: 2em;
	margin-right: auto;
	max-width: 768px;
}

hr {
	border: 0;
    height: 0;
    border-top: 1px solid #aaa;
}

.wrapper {
	.header {
		h1 {
			font-size: 1.5em;
		}

		img {
			width: 196px;
		}

		ul {
			display: table;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			display: table-row;
		}

		.thing {
			display: table-cell;
			padding-right: 1em;
		}
	}

	h2 {
		font-size: 1.25em;
	}
}
